{
  "env": {
    "browser": true,
    "es2021": true
  },
  "extends": [
    "eslint:recommended",
    "preact",
    "prettier",
    "prettier/@typescript-eslint"
  ],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "ecmaVersion": 12,
    "sourceType": "module"
  },
  "rules": {
    "array-bracket-newline": "warn",
    "arrow-body-style": "off",
    "camelcase": "error",
    "prefer-destructuring": "error",
    "jsx-quotes": "warn"
  }
}
