$background-color: var(--background-color);
$text-color: var(--text-color);
$contrast-color: var(--contrast-color);
$main-color: var(--main-color);
$primary-color: var(--primary-color);
$secondary-color: var(--secondary-color);
