.theme-toggle {
  border-radius: 50%;
  color: transparent;
  height: 50px;
  width: 50px;
  background-color: transparent;
  background-image: url('./../src/icons/toggle/sun.png');
  background-repeat: no-repeat;
  background-size: 38px;
  background-position: center center;
  position: absolute;
  bottom: 50px;
  right: 15px;
  padding: 0;
  outline: none;
  border: none;
  cursor: pointer;

  .container[data-theme='light'] & {
    background-image: url('./../src/icons/toggle/moon.png');
  }

  &:hover {
    background-color: $contrast-color;
  }
}
