nav {
  position: fixed;
  right: 0;
  top: calc(50% - 112px);
  overflow: hidden;
  width: 50px;
  transition: 0.33s cubic-bezier(0.39, 0.575, 0.565, 1);
  background-color: $contrast-color;
  padding: 0 0 0 15px;
  z-index: 1;

  &:hover {
    width: 210px;
  }

  ul {
    padding: 16px 0;
    margin: 0;
  }

  li {
    list-style: none;
    padding: 10px 12px 10px 36px;
  }

  a {
    text-decoration: none;
    color: $text-color;

    &:visited {
      color: $text-color;
    }
  }
}
