header {
  position: relative;
  z-index: 1;
}

nav {
  max-width: 1280px;
  padding: 0 15px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  ul {
    display: flex;
    padding: 16px 0;
    margin: 0;
  }

  li {
    list-style: none;
    padding: 10px 12px 10px 36px;
  }

  a {
    text-decoration: none;
    color: $text-color;

    &:visited {
      color: $text-color;
    }
  }
}
